{% extends "layout.html" %}
{% block jumbotron %}

<div class="jumbotron">
  <div class="container">
    <h1>Projects</h1>
  </div>
</div>

{% endblock %}
{% block body %}

<div class="row">
  <div class="col-med-3 col-sm-4 col-xs-6">
    <p class="text-center">
      <a href="{{ handler.uri_for('sbc-index') }}" target="_blank">
        <img src="/static/projects/images/silver-bullet-cookbook.png">
        <h4 class="text-center">Silver Bullet Cookbook</h4>
      </a>
    </p>
  </div>
  <div class="col-med-3 col-sm-4 col-xs-6">
    <p class="text-center">
      <a href="http://www.windowsphone.com/en-us/store/app/recipe-viewer/388e503e-8c58-46aa-a028-5057715364f5" target="_blank">
        <img src="/static/projects/images/recipe-viewer.png">
        <h4 class="text-center">Recipe Viewer</h4>
      </a>
    </p>
  </div>
  <div class="col-med-3 col-sm-4 col-xs-6">
    <p class="text-center">
      <a href="http://www.windowsphone.com/en-us/store/app/voice-unit-converter/ccf01b22-8de5-4ca9-9fc9-a3b00732711c" target="_blank">
        <img src="/static/projects/images/voice-unit-converter.png">
        <h4 class="text-center">Voice Unit Converter</h4>
      </a>
    </p>
  </div>
</div>

{% endblock %}