{% extends "_layout.html" %}
{% block jumbotron %}

<div class="jumbotron">
  <div class="container">
    <p>
        Silver Bullet Cookbook requires <strong>Windows XP</strong> (Service Pack 3), <strong>Windows Vista</strong> (Service Pack 1), <strong>Windows 7</strong>, or <strong>Windows 8</strong>. Silver Bullet Cookbook will automatically install the .NET Framework 4.0 Client Profile on your machine if it is not already installed.
    </p>
    <p><a class="btn btn-primary btn-lg" href="/static/sbc/downloads/SilverBulletCookbook-1.1.1.exe" role="button">Download Silver Bullet Cookbook &raquo;</a></p>
  </div>
</div>

{% endblock %}