{% extends "_layout.html" %}
{% block jumbotron %}

<div class="jumbotron">
  <div class="container">
    <h1>Features</h1>
  </div>
</div>

{% endblock %}
{% block body %}

<div class="row">
  <div class="col-xs-12">
		<h2>Manage Recipes</h2>
		<p><em>Silver Bullet Cookbook</em> shows you a list of your recipes with thumbnails side-by-side with the recipe text and photos. Use the <strong>search</strong> feature to find recipes by category, source, text, or ingredients. Easily perform a search with multiple criteria. Mark recipes as recipes you want to <strong style="color:#8080E0;">try soon</strong>&nbsp;<img src="/static/sbc/images/tack.png">, recipes you have <strong style="color:#00A100;">prepared</strong>&nbsp;<img src="/static/sbc/images/check.png">, or recipes that are <strong style="color:#F08080;">favorites</strong>&nbsp;<img src="/static/sbc/images/heart.png">. These icons show up next to your recipes in the recipe list, and you can use the search feature to quickly and easily find those recipes.</p>
		<h2>Plan Meals</h2>
		<p>Add recipes to the calendar with <strong>one click!</strong> View and plan meals for an entire <strong>week at a time</strong>.</p>
		<h2>Add and Edit Recipes</h2>
		<p>With other recipe software typing in ingredients can feel like working with a spreadsheet and you may find yourself switching between dozens of tabs to find where to enter your recipe details. With <em>Silver Bullet Cookbook</em> the <strong>Recipe</strong> tab makes it easy to type in the recipe name, description, ingredients, directions, variations, and notes. The <strong>Details</strong> tab allows you to enter the recipe details: cookbook, source, author, website, web address, servings, yield, times, and categories. The <strong>Photos</strong> tab allows you to add and arrange beautiful photos of your recipe. Finally, the <strong>Capture</strong> tab makes it easy add recipes from the Internet or other documents.</p>
		<h2>Categorize Recipes</h2>
		<p>Categorize your recipes by <strong>course</strong>, <strong>dish</strong>, <strong>cuisine</strong>, <strong>dietary consideration</strong>, <strong>equipment</strong>, <strong>technique</strong>, <strong>occasion</strong>, or other categories such as "<strong>make ahead</strong>," "<strong>one dish</strong>," and "<strong>quick and easy</strong>." Later, you can search for your recipes by category. Rather than displaying all your categories in one very long list, <em>Silver Bullet Cookbook</em> breaks down your categories into sub-categories. When you search for recipes in a category, <em>Silver Bullet Cookbook</em> is <strong>smart</strong> enough to display recipes from all the sub-categories. For example, a search for desserts will find recipes categorized as cake, cookie, or pie. A search for European recipes will find recipes categorized as French, Italian, or Greek. You can also add your own custom user categories.</p>
		<h2>Print Recipes</h2>
		<p>Print recipes to <strong>any size paper</strong> supported by your printer, including index cards. The <strong>preview</strong> shows you exactly what your recipe will look like printed and lets you adjust page margins and decide which recipe elements to print. Use any of the color schemes or styles included with <em>Silver Bullet Cookbook</em> or create your own in order to <strong>personalize</strong> your printed recipes.</p>
		<h2>Import Recipes</h2>
		<p>Import recipes that have been saved to either the Meal-Master (.mmf) or MasterCook (.mx2) format by other recipe software. Large collection of recipes? No problem! <em>Silver Bullet Cookbook</em>'s recipe import is <strong>fast</strong> and <strong>powerful</strong> enough that it can store more than 100,000 recipes while still being able to quickly search for that perfect recipe. The only limits are the amount of storage and memory on your computer.</p>
		<h2>Customize</h2>
		<p>Use <strong>color schemes</strong> and <strong>styles</strong> to customize the recipe display. Use larger fonts when you want to see from across the room and smaller fonts to fit your recipe onto an index card perfectly. Add a splash of color to your printed recipes or easily display your recipes with a high-contrast color scheme.</p>
		<p>You can easily set up <em>Silver Bullet Cookbook</em> to display <strong>ingredient units</strong> (cups, tablespoons, etc.) in full or using abbreviations (c., T., tbsp., etc.) of your choosing. You can also customize the display of <strong>times</strong> ("2 hours 5 minutes" or "2 hr 5 min" or "2:05").</p>
  </div>
</div>

{% endblock %}