{% extends "_layout.html" %}
{% block jumbotron %}

<div class="jumbotron">
  <div class="container">
	<p class="text-center"><img src="/static/sbc/images/01_700.png"></p>
    <p><em>Silver Bullet Cookbook</em> is the easiest way to <strong>organize</strong> and <strong>print recipes</strong> and <strong>plan meals</strong>. With other recipe software typing and editing recipes can feel like a chore, but <em>Silver Bullet Cookbook</em>'s <strong>simple</strong> and <strong>straightforward</strong> recipe editing screen makes entering recipes a breeze. <em>Silver Bullet Cookbook</em> makes it easy to add a splash of <strong style="color:#FF4800;">color</strong></font> and <span style="font-family:Century Gothic,sans-serif;font-weight:bold;">style</span> to your recipes - both while viewing and printing your recipes, and unlike some other software <em>Silver Bullet Cookbook</em> shows you <strong>thumbnails</strong> of all your beautiful recipe <strong>photos</strong>. And with the handy Meal Planner always at your fingertips, planning meals has never been easier!</p>
    <p><a class="btn btn-primary btn-lg" href="{{ handler.uri_for('sbc-download') }}" role="button">Free download &raquo;</a></p>
  </div>
</div>

{% endblock %}